body {
    overflow: hidden;
    background-image: url('./assets/homeBg.jpg');
}

#block1 {
  display: none;
}
#block2 {
  display: block;
  padding: 150px;
}
#block3 {
  display: none;
}


#mainContent {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.6);
    z-index: 2;
}

.button {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: rgb(111, 102, 231);
    border: 2px solid #00a8f3;
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  }
  
  .glow-button:hover {
    color: rgb(6, 0, 95);
    box-shadow: 0 0px 15px 15px #398b8b;
    background-color: #00a8f3;
    font-size: large;
  }


#friendsList {
    color: wheat;
    width: 500px;
    position: relative;
    border: 5px solid #3548cc;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}
#friends {
    border-radius: 0px;
    width: 490px;
    font-weight: bold;
}
#friendsTopic {
    font-weight: bold;
    cursor: default;
    color: #00a8f3;
}
#friendsTable {
  color: rgb(111, 102, 231);
  font-weight: bold;
}
tr {
  transition: 0.1s ease-in-out;
  height: 20px;
}
tr:hover {
  color:#00a8f3;
  background-color: #000000b7;
  cursor: pointer;
}
#friendsSno:hover {
  font-weight: bolder;
}
#friendsDpDisplay {
  border: 3px solid #3548cc;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  position: relative;
  bottom: 4px;
}


/*Scroll Bar edit*/
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(84, 74, 228, 0.466); 
    border-radius: 10px;
  }

#siteName {
  position: relative;
  bottom: 40px;
  cursor: default;
  font-size: 60px;
  text-align: center;
  background-image: linear-gradient(45deg, #3548cc, rgb(111, 102, 231) );
  background-size: 100%;
  background-repeat: repeat;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#nameDpDisplayDiv {
  padding: 10px;
}
#nameDisplay {
  color: rgb(111, 102, 231);
  font-weight: 400;
  position: relative;
  left: 2px;
  cursor: default;
}
#dpDisplay {
  border: 3px solid #3548cc;
  border-radius: 25px;
  width: 45px;
  height: 45px;
}
#nameDisplay, #dpDisplay {
  display: inline;
}

#formLogin {
  color: rgb(111, 102, 231);
  font-weight: bold;
  font-size: large;
  width: 300px;
}
#loginSubmit {
  position: relative;
  bottom: 25px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(48, 45, 100);
  background-color:#3548cc;
  padding: 15px 40px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  border: 0px;
}
#loginSubmit:hover {
  color: #00a8f3;
}
#checkBoxRemember{
  cursor: pointer;
}
#createNew {
  color: #00a8f3;
  cursor: pointer;
  font-weight: normal;
  font-size: medium;
}
#loginDivInner {
  padding: 50px;
}
