<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="global.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
      <link rel="icon" href="./assets/favicon.jpg">
    <title>Locus</title>
</head>



<body id="body">
  <main id="block1">
    <div id="nameDpDisplayDiv">
      <img class="mb-2" id="dpDisplay" src="./assets/testProfile.jpg">
      <h5 id="nameDisplay">Username</h5>
    </div>

    <div class="d-flex align-items-center h-100" id="contentHomePage">
      <h1 class="m-5" id="siteName">⠀LOCUS</h1>
      <span class="d-flex align-items-center justify-content-center h-100 w-75 p-3" id="mainContent">
        <span class="m-5">
            <a class="button glow-button">Field 1</a><br><br><br>
            <a class="button glow-button">Field 2</a><br><br><br>
            <a class="button glow-button">Field 3</a><br><br><br>
            <a class="button glow-button">Field 4</a><br><br><br>
        </span>

        <div class="m-5" id="friendsList">
          <h4 class="m-2" id="friendsTopic">𝙵𝚛𝚒𝚎𝚗𝚍𝚜</h4>
          <hr>
          <table class="table" id="friendsTable">
              <tbody>
                <tr>
                  <th scope="row"><img id="friendsDpDisplay" src="./assets/testProfile2.jpg"></th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row"><img id="friendsDpDisplay" src="./assets/testProfile2.jpg"></th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row"><img id="friendsDpDisplay" src="./assets/testProfile2.jpg"></th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                  <th scope="row"><img id="friendsDpDisplay" src="./assets/testProfile2.jpg"></th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                  <th scope="row"><img id="friendsDpDisplay" src="./assets/testProfile2.jpg"></th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                  <th scope="row"><img id="friendsDpDisplay" src="./assets/testProfile2.jpg"></th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                  <th scope="row"><img id="friendsDpDisplay" src="./assets/testProfile2.jpg"></th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                  <th scope="row"><img id="friendsDpDisplay" src="./assets/testProfile2.jpg"></th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                  <th scope="row"><img id="friendsDpDisplay" src="./assets/testProfile2.jpg"></th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                  <th scope="row"><img id="friendsDpDisplay" src="./assets/testProfile2.jpg"></th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                  <th scope="row"><img id="friendsDpDisplay" src="./assets/testProfile2.jpg"></th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>

              </tbody>
            </table>
        </div>
      </span>
    </div>
  </main>>

  <main id="block2">
    <div class="d-flex align-items-center justify-content-center h-100 mb-3">
      <h1 class="steNameClass" id="siteName">LOCUS</h1>
    </div>

    <div class="d-flex align-items-center justify-content-center h-100" id="mainContent">
      <div id="loginDivInner">
        <form onkeydown="return event.key != 'Enter';" id="formLogin">
          <div class="form-row align-items-center">
            <div class="col-auto">
              <label class="sr-only" for="inlineFormInput">Id</label>
              <input type="text" class="form-control mb-2 bg-info" id="userIdLogin" placeholder="Your Id" autofocus required autocomplete="off">
            </div>

            <div class="col-auto">
              <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="checkRemember">
                <label class="form-check-label" for="autoSizingCheck">Remember Me</label><br>
                <label class="form-check-label mt-2" for="autoSizingCheck" id="createNew" onclick="signup()"><u>New Account?</u></label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <button class="ml-2" type="button" id="loginSubmit" form="formLogin" onsubmit="return false" onclick="login()">Login</button>
    </div>
  </main>

  <main id="block3">

  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous">
  </script>
  <script src="global.js"></script>
</body>

</html>
