<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="global.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="icon" href="./assets/favicon.jpg">
    <title>Locus</title>
</head>


<body id="body">
    <main id="block1">
        <div class="toast bg-dark" id="homepageToast">
            <div class="toast-body"></div>
        </div>
        <div id="nameDpDisplayDiv">
            <img class="mb-2" id="dpDisplay">
            <h5 id="nameDisplay"></h5>

            <div class="dropdown show mx-3" id="profileInfoDropdown">
                <button class="btn btn-sm btn-info dropdown-toggle" id="dropdownMenuButton" onclick="dropdownToggle()"></button>
                <div class="dropdown-menu bg-primary" id="dropdown" aria-labelledby="dropdownMenuButton" style="display: none;">
                    <a class="dropdown-item bg-primary" id="idDropdown" onclick="copyId(this)"></a>
                    <a class="dropdown-item bg-info" id="signDrop" onclick="signout()">Signout</a>
                </div>
            </div>
        </div>

        <div class="d-flex align-items-center h-100" id="contentHomePage">
            <h1 class="m-5" id="siteName">⠀LOCUS</h1>
            <span class="d-flex align-items-center justify-content-center h-100 w-75 p-3" id="mainContent">
                    <span class="m-5">
                        <a class="button glow-button">Message</a><br><br><br>
                        <a class="button glow-button">Memes</a><br><br><br>
                        <a class="button glow-button">FaceSmash</a><br><br><br>
                        <a class="button glow-button">Add Friend</a><br><br><br>
                    </span>

            <div class="m-5" id="friendsList">
                <h4 class="m-2" id="friendsTopic">𝙵𝚛𝚒𝚎𝚗𝚍𝚜</h4>
                <hr>
                <table class="table" id="friendsTable">
                    <tbody>
                        <tr>
                            <th scope="row"><img id="friendsDpDisplay"></th>
                            <td>Test</td>
                            <td>0123</td>
                            <td>online</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </span>
        </div>
    </main>

    <main id="block2">
        <div class="toast bg-dark" id="loginToast">
            <div class="toast-body"></div>
        </div>
        <div class="d-flex align-items-center justify-content-center h-100 mb-3">
            <h1 class="steNameClass" id="siteName">LOCUS</h1>
        </div>
        <div class="d-flex align-items-center justify-content-center h-100" id="mainContent">
            <div id="loginDivInner">
                <form onkeydown="return event.key != 'Enter';" id="formLogin">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInput">Id <span
                                        style="font-size: small;color: gray;"> numerals only</span></label>
                            <input type="text" class="form-control mb-2 bg-info" id="userIdLogin" placeholder="Your Id" autofocus required autocomplete="off" minlength="4" maxlength="4">
                        </div>

                        <div class="col-auto">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" id="checkRemember">
                                <label class="form-check-label" for="autoSizingCheck" id="textRememberMe" onclick="checkIt()">Remember
                                        Me</label><br>
                                <label class="form-check-label mt-2" for="autoSizingCheck" id="createNew" onclick="register()"><u>New
                                            Account?</u></label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <button class="ml-2" type="button" id="loginSubmit" form="formLogin" onsubmit="return false" onclick="login()">Login</button>
        </div>
    </main>

    <main id="block3">
        <div class="toast bg-dark" id="signupToast">
            <div class="toast-body"></div>
        </div>
        <div class="d-flex align-items-center justify-content-center h-100 mb-3">
            <h1 class="steNameClass" id="siteName">LOCUS</h1>
        </div>
        <div class="d-flex align-items-center justify-content-center h-100" id="mainContent">
            <div id="loginDivInner">
                <form onkeydown="return event.key != 'Enter';" id="formSignup">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInput">Username <span
                                        style="font-size: small;color: gray;"> alphabets only</span></label>
                            <input type="text" class="form-control mb-2 bg-info" id="usernameInputField" placeholder="Username" autofocus required autocomplete="off" minlength="4" maxlength="25" value="">
                        </div>
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInput">Unique ID <span
                                        style="font-size: small;color: gray;"> autogenerated</span></label>
                            <input type="text" class="form-control mb-2 bg-info" id="uuidInputField" placeholder="Click the link below to generate it" autofocus disabled>
                            <small class="form-text text-muted" style="font-weight: normal;">Keep your Unique Id
                                    safe and private</small>
                        </div>

                        <div class="col-auto">
                            <label class="form-check-label mt-2" for="autoSizingCheck" id="createNewId" onclick="uuidGenerated()"><u>Generate Unique ID</u></label><br>
                            <small class="form-text" id="alreadyAccount" style="font-weight: normal;cursor: pointer;" onclick="loginStyleWindow()"><u>Already
                                        have an
                                        account?</u></small>
                            <div><br></div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" id="checkRememberSignup">
                                <label class="form-check-label" for="autoSizingCheck" id="textRememberMe" onclick="checkItSignup()">Remember
                                        Me</label><br>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <button class="ml-2" type="button" id="signupSubmit" form="formSignup" onsubmit="return false" onclick="signup()">Signup</button>
        </div>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
    <script src="global.js"></script>
</body>

</html>
