<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="global.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Site</title>
</head>

<body>
    <div class="d-flex align-items-center justify-content-center h-100" id="contentHomePage">
        <span class="d-flex align-items-center justify-content-center h-100 w-75 p-3" id="mainContent">
            <span class="m-5">
                <a class="button glow-button">Field 1</a><br><br><br>
                <a class="button glow-button">Field 2</a><br><br><br>
                <a class="button glow-button">Field 3</a><br><br><br>
                <a class="button glow-button">Field 4</a><br><br><br>
            </span>

            <div class="m-5" id="friendsList">
                <h3 class="m-2" id="firendsTopic">𝙵𝚛𝚒𝚎𝚗𝚍𝚜</h3>
                <hr>
                <button id="friends" class="btn btn-primary btn-lg mb-1">Friend 1</button>
                <button id="friends" class="btn btn-primary btn-lg mb-1">Friend 2</button>
                <button id="friends" class="btn btn-primary btn-lg mb-1">Friend 3</button>
                <button id="friends" class="btn btn-primary btn-lg mb-1">Friend 4</button>
                <button id="friends" class="btn btn-primary btn-lg mb-1">Friend 5</button>
                <button id="friends" class="btn btn-primary btn-lg mb-1">Friend 6</button>
                <button id="friends" class="btn btn-primary btn-lg mb-1">Friend 7</button>
                <button id="friends" class="btn btn-primary btn-lg mb-1">Friend 8</button>
                <button id="friends" class="btn btn-primary btn-lg mb-1">Friend 9</button>
                <button id="friends" class="btn btn-primary btn-lg mb-1">Friend 10</button>
            </div>
        </span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="global.js"></script>
</body>

</html>